*, *::after, *::before {
    padding: 0px;
    margin: 0px;
    font-family: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00204a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 2rem 1rem;
    text-align: right;
    width: 100%;
    max-width: 350px;
}

input::placeholder {
    color: #fff;
}

#display{
    font-size: 64px;
    margin-left: -16px;
    color: #fff;
    background-color: black;
    border-radius: 50px;
    border: none;
    padding: 2rem 1rem;
    text-align: right;
    width: 100%;
    max-width: 280px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.move-btn button {
    width: 80px;
}

button {
    font-size: 32px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.8s, color 0.5s;
}

button:hover {
    background-color: #d0d0d0;
}

button:active {
    background-color: #d0d0d0;
}

.equals-button, .operator-button {
    background-color: hsl(193.3,100%,47.1%);
}

.equals-button:hover, .operator-button:hover {
    background-color: white;
    color: hsl(193.3,100%,47.1%);
}
.side-bar {
    position: fixed;
    overflow-y: auto;
    justify-content: center;
    left: 370px;
    background-color: black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    max-width: 500px;
    padding: 2rem 1rem;
    margin-top: -32px;
    margin-left: -50%;
    transition-delay: 1s;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar.active{
    margin-left: 40%;
}


.menu-btn {
    position: absolute;
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-left: 350px;
    background-color: black;
    padding: 20px;
    margin-top: -32px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.rotate {
    transform: rotate(360deg);
    transition: 1s ease;
}

.rotate-back {
    transform: rotate(-360deg);
    transition: 1s ease;
}
.close-btn {
    position: absolute;
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-top: -12px;
}

.more-btn {
    margin-left: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.more-btn button {
    padding: 10px;
    border-radius: 25px;
}

button[data-action="more-operators"] {
    margin-left: 10px;
    font-size: 20px;
    background-color: #1f1e1e;
}

button:hover[data-action="more-operators"] {
    margin-left: 10px;
    font-size: 20px;
    background-color: hsl(0, 0%, 20%)
}

.move-btn button.double-wide-button {
    grid-column: span 2;
    text-align: left;
    border-radius: 35px;
    width: 170px;
}

.equals-button {
    grid-column: span 1;
}

button[data-action="clear"],
button[data-action="toggle-sign"],
button[data-action="percentage"] {
    background-color: #9f9f9f;
    color: #000;
}

button:hover[data-action="clear"],
button:hover[data-action="toggle-sign"],
button:hover[data-action="percentage"] {
    background-color: hsl(0, 0%, 85%);
    color: #000;
}

button:active[data-action="clear"],
button:active[data-action="toggle-sign"],
button:active[data-action="percentage"] {
    background-color: hsl(0, 0%, 85%);
    color: #000;
}

button[data-action="number"] {
    background-color: #313131;
}

button:hover[data-action="number"] {
    background-color: hsl(0, 0%, 40%);
}